# Local configuration file (sdk path, etc)
local.properties
key.properties
keystore.properties

# Keystore files
*.jks

# Android Studio
*.iml
.gradle/
build/
captures/
.navigation/

# Intellij IDEA
.idea/*
!.idea/codeStyles

# OS-specific hidden files
Thumbs.db
.DS_Store
