<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.rfcx.ranger">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Required for foreground services on P+. -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	
	<application
		android:name=".RangerApplication"
		android:allowBackup="false"
		android:icon="${icon}"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:resizeableActivity="false"
		android:roundIcon="${roundIcon}"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
		
		<activity
			android:name=".view.alerts.guardianListDetail.alertDetailByType.AlertDetailByTypeActivity"
			android:screenOrientation="portrait"/>
		
		
		<activity
			android:name=".view.profile.FeedbackActivity"
			android:screenOrientation="portrait"/>
		
		<activity
			android:name=".view.report.ReportDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".view.profile.GuardianGroupActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".view.alerts.guardianListDetail.GuardianListDetailActivity"
			android:screenOrientation="portrait"/>
		
		<activity
			android:name=".view.MainActivityNew"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"/>
		
		<activity
			android:name=".view.login.LoginActivityNew"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.report.ReportActivity"
			android:screenOrientation="portrait" />
		
		<service
			android:name=".service.LocationTrackerService"
			android:exported="false"
			android:foregroundServiceType="location" />
		
		<service
			android:name=".service.MessagingService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		
		<receiver android:name=".service.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".service.NetworkReceiver">
			<intent-filter>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE"
					tools:ignore="BatteryLife" />
			</intent-filter>
		</receiver>
		
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_notification" />
		<meta-data
			android:name="firebase_crashlytics_collection_enabled"
			android:value="false" />
		
		<!-- Required for google maps: https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
	</application>

</manifest>